#testimonials .slide {
    color: #9c968e;
    }
#testimonials .client-contact-info {
    margin: 0 0 25px 0; 
    float: right;
    font-weight: lighter;
    font-size: 18px; 
    }
#testimonials .client-contact-info-internal {
    margin: 0 0 25px 0; 
    /*float: right;*/
    text-align: center;
    font-weight: lighter;
    font-size: 18px; 
    }    
#testimonials .testimonial-quote {
    text-align: center;
    padding: 3px 0 0 0;   
    line-height: 1.5em; 
    font-size: 20px; 
    font-style: italic; 
    margin: 10px 0 0 0;
    }
#testimonials .testimonial-quote-internal {
    text-align: center;
    padding: 3px 0 0 0;   
    line-height: 1.5em; 
    font-size: 20px; 
    font-style: italic; 
    margin: 10px 0 0 0;
    }          
#testimonials p {
    margin: 0;
}